<div class="container mt-3">
  <h1>welcome to your dashboard</h1>

  <%= current_user.first_name %>
  <% if current_user.vehicles !=nil %>
    <h2>All Listings</h2>
    <% current_user.vehicles.each do |vehicle| %>
      <%= vehicle.name %>
      <%= vehicle.price_per_day %>
    <% end %>
  <% end %>
</div>
