<%# render a blank screen. on click carorusel, swipe to fantasy flights, hover to hacker text %>
<div class="d-none" data-controller="home-page" data-action="click->home-page#reveal" id="homepagebody">
  <div class="container"></div>
</div>

<div id="homepagebody" data-controller="home-page" data-home-page-title-value="...FantasyFlights">
  <h1 data-home-page-target="hyperplexed" data-action="mouseover->home-page#fire" id="homepageh1" >...FantasyFlights</h1>
</div>
<%# toggle d-none on click %>
<div class="splide" data-controller="splide" data-splide-target="landing">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide"></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1531259683007-016a7b628fc3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2000&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1608889175123-8ee362201f81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2960&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1608889175123-8ee362201f81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2960&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1603652338609-84d94118f52c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1596284274000-7d3eca888e3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3001&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1608889825271-9696283ab804?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2960&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1543359755-e9b9008378d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1608889175638-9322300c46e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2960&q=80" /></li>
      <li class="splide__slide"><img class="image" src="https://images.unsplash.com/photo-1640499900704-b00dd6a1103a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80" /></li>
    </ul>
  </div>
</div>


<%# <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0" data-home-page-target="landing" data-controller="home-page" data-action="mousedown->home-page#carousel"> %>
