 <div id="homepagebody" data-controller="home-page" data-home-page-title-value="...FantasyFlights">
  <h1 data-home-page-target="hyperplexed" data-action="mouseover->home-page#fire" id="homepageh1" >...FantasyFlights</h1>
  <div class="d-none" data-home-page-target="reveal">
    <h6>Stuff to hide</h6>
  </div>
</div>
