 <%# <div class="container mt-3 justify-content-center">
    <div class="col align-self-center">
      <h1>Welcome to the <strong>Super</strong> world!</h1>
      <div class ="container">
        <%= link_to 'Sign-Up and choose NOW!', vehicles_path, class:'btn btn-dark'%>
        <%# <h6>Insert carousel of vehicles</h6>
      </div>
    </div>
  </div>
</div>  %>

<h1>FantasyFlights</h1>
