<div class="container mt-3 components border">
  <h1>ui kit</h1>


<div class="col-sm-4">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vechicle Name...</h5>
        <p class="card-text">Beginning of decription will go here...</p>
      </div>
  </div>
</div>


<div>
  <button class="btn btn-danger btn-lg m-5">Show this vehicle </button>
</div>



</div>
